@font-face {
  font-family: Centra;
  src: url("../src/assets/font/CentraNo2-Bold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: Centra;
  src: url("../src/assets/font/CentraNo2-Medium.ttf");
  font-weight: 600;
}

@font-face {
  font-family: Centra;
  src: url("../src/assets/font/CentraNo2-Book.ttf");
  font-weight: 500;
}

/* Default css*/

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  width:100%;
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: rgb(209, 206, 206) !important;
  color: #303030 !important;
  font-family: "Centra", sans-serif !important;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0.4rem;
  line-height: normal;
 }

img{
  height: 1rem;
  width: auto
}
p.success {
	color: green;
}

p.danger {
	color: red;
}

/* navbar*/

.nav-bar{
  z-index: 2;
  font-size: 1.5rem;
  background-color: #b9b9b9;
}

.social{
  margin: 0.5rem;
  list-style:none;
}

/* .social :hover{
  transition: all 1s;
  transform: scale(0.70);
} */

/* banner */
.banner{
  z-index:-1;
  background: #d1cece;
}
.mc{

  background-color: white;
  border-radius: 1rem;
  box-shadow: -8px 12px 20px 10px rgba(0, 0, 0, 0.2);
  height: 60vh;
  width: 50vw;
  margin-top: 3rem;
  margin-bottom: 3rem;
  z-index: 1;
}
.bar{
  
  background-color: #e8e8e8;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding-bottom: 0.5rem;
}

#green{
  background-color: #00ce15;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
}

#red{
  background-color: #ff4f4d;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
}

#yellow{
  background-color: #ffbb00;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
}

.skewed {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 30%;
  background: rgb(185, 185, 185);
  z-index: 1;
  transform: skewY(10deg);
  transform-origin: top right;
}

/* skills */
#skills{
  position:relative;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-right: 5rem;
  padding-left: 5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: white;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  
  z-index: 2;
}

.skill-box{
  width: 40vw;
  position: relative;
}

.triangle {
  position: relative;
  background: #d1cece;
  /* background: #00ce15; */
  /* height: 50vh; */
}

.triangle::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 56px 56px 0 56px;
  border-color: #d1cece transparent transparent transparent;
  left: 83%;
  transform: translateX(-50%) translateY(100%);
}

/* projects */
#projects{
  background: #404040;
  /* background-image: url("./assets/img/bg.jpg"); */
  z-index: 1;
}

#projects h2{
  color: white;
}

.pr-box{
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 20rem;
  height: 26rem;
  margin: 1rem;
  border-radius: 1rem;
  box-shadow: -8px 12px 20px 10px rgb(104, 104, 104);

}

.pro-img img{
  object-fit: cover;
  max-height: 15rem;
  border-radius: 1rem;
  margin-bottom: 0.3rem;
  width: 17rem;
  height: 10rem;
}

.curved {
  position: relative;
  background: #404040;
  height: 10vh;
  border-bottom-left-radius: 50% 74%;
  border-bottom-right-radius: 50% 74%;
}

/* connect */
#contact-c{
  background: rgba( 147, 147, 147, 0.45 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );

border-radius: 1rem;
box-shadow: -8px 12px 20px 10px rgba(0, 0, 0, 0.2);
height: 60vh;
width: 50vw;
margin-top: 3rem;
margin-bottom: 3rem;
z-index: 1;
}

.arrow{
  margin-left: 1.5rem;
}

.arrow :hover{
 cursor: grab; 
}

#form-contact{
  margin-top: 2rem;
}

#form-contact textarea{
  width: 20rem;
  margin: 1rem;
}

/* footer */

#footer{
  position:fixed;
  right: 5px;
  bottom: 0px;
  margin-right: 3rem;
}

/* Footer */




/***/

/* Bubble Float Bottom */
.hvr-bubble-float-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-bubble-float-bottom:before {
  position: absolute;
  z-index: -1;
  content: '';
  left: calc(50% - 10px);
  bottom: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #e1e1e1 transparent transparent transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-bubble-float-bottom:hover, .hvr-bubble-float-bottom:focus, .hvr-bubble-float-bottom:active {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}
.hvr-bubble-float-bottom:hover:before, .hvr-bubble-float-bottom:focus:before, .hvr-bubble-float-bottom:active:before {
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
}

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #2098D1;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

/* Buzz */
@-webkit-keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
@keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
.hvr-buzz {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-buzz:hover, .hvr-buzz:focus, .hvr-buzz:active {
  -webkit-animation-name: hvr-buzz;
  animation-name: hvr-buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}


/* Wobble Vertical */
@-webkit-keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.hvr-wobble-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-wobble-vertical:hover, .hvr-wobble-vertical:focus, .hvr-wobble-vertical:active {
  -webkit-animation-name: hvr-wobble-vertical;
  animation-name: hvr-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}


/* Grow Shadow */
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Shrink */
.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}


@media screen and (max-width:685px) {

  .mc{
    border-radius: 1rem;
    height: 60vh;
    width: 80vw;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }


  #skills{
    margin-top: 0.5rem;
    
  }
  .skill-box{
    width: 50vw;

  }

  #form-contact{
    margin:1rem;
  }

  #form-contact textarea{
    width: 12rem;
  }

  #footer{
    display: flex;
    flex-direction: column;
    /* margin-right: 0.07rem; */
    z-index: 3;
  }

  #footer ul{
    flex-direction: column;
  }

  .arrow{
    margin-left: 2.3rem;
  }
}


/****/
@keyframes move {
  100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #141414;
  overflow: hidden;
  z-index: -2;
}

.background span {
  width: 43vmin;
  height: 43vmin;
  border-radius: 43vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 35;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


.background span:nth-child(0) {
  color: #dedede;
  top: 97%;
  left: 46%;
  animation-duration: 58s;
  animation-delay: -76s;
  transform-origin: 3vw 13vh;
  box-shadow: 86vmin 0 11.244906926637409vmin currentColor;
}
.background span:nth-child(1) {
  color: #dedede;
  top: 59%;
  left: 56%;
  animation-duration: 13s;
  animation-delay: -148s;
  transform-origin: -10vw 15vh;
  box-shadow: 86vmin 0 11.294143562356062vmin currentColor;
}
.background span:nth-child(2) {
  color: #dedede;
  top: 19%;
  left: 84%;
  animation-duration: 88s;
  animation-delay: -2s;
  transform-origin: 2vw -10vh;
  box-shadow: -86vmin 0 11.44648033378287vmin currentColor;
}
.background span:nth-child(3) {
  color: #dedede;
  top: 33%;
  left: 85%;
  animation-duration: 148s;
  animation-delay: -88s;
  transform-origin: 11vw -12vh;
  box-shadow: 86vmin 0 11.543641001887568vmin currentColor;
}
.background span:nth-child(4) {
  color: #525252;
  top: 91%;
  left: 11%;
  animation-duration: 137s;
  animation-delay: -99s;
  transform-origin: 5vw -11vh;
  box-shadow: 86vmin 0 11.488712595151812vmin currentColor;
}
.background span:nth-child(5) {
  color: #8c8c8c;
  top: 80%;
  left: 38%;
  animation-duration: 11s;
  animation-delay: -112s;
  transform-origin: 7vw -17vh;
  box-shadow: -86vmin 0 11.259795454307277vmin currentColor;
}
.background span:nth-child(6) {
  color: #dedede;
  top: 50%;
  left: 18%;
  animation-duration: 46s;
  animation-delay: -19s;
  transform-origin: 19vw -5vh;
  box-shadow: 86vmin 0 11.085980513517182vmin currentColor;
}
.background span:nth-child(7) {
  color: #525252;
  top: 15%;
  left: 12%;
  animation-duration: 123s;
  animation-delay: -145s;
  transform-origin: 23vw -21vh;
  box-shadow: -86vmin 0 10.864808252838262vmin currentColor;
}
.background span:nth-child(8) {
  color: #dedede;
  top: 29%;
  left: 56%;
  animation-duration: 148s;
  animation-delay: -32s;
  transform-origin: 10vw -6vh;
  box-shadow: -86vmin 0 11.147901261686988vmin currentColor;
}
.background span:nth-child(9) {
  color: #dedede;
  top: 97%;
  left: 18%;
  animation-duration: 120s;
  animation-delay: -97s;
  transform-origin: 23vw 8vh;
  box-shadow: -86vmin 0 11.00795389036568vmin currentColor;
}
.background span:nth-child(10) {
  color: #525252;
  top: 83%;
  left: 29%;
  animation-duration: 38s;
  animation-delay: -147s;
  transform-origin: -15vw -13vh;
  box-shadow: 86vmin 0 11.192837415730727vmin currentColor;
}
.background span:nth-child(11) {
  color: #dedede;
  top: 22%;
  left: 76%;
  animation-duration: 99s;
  animation-delay: -90s;
  transform-origin: 3vw -15vh;
  box-shadow: -86vmin 0 10.79205759754898vmin currentColor;
}
.background span:nth-child(12) {
  color: #8c8c8c;
  top: 75%;
  left: 82%;
  animation-duration: 104s;
  animation-delay: -77s;
  transform-origin: 19vw 0vh;
  box-shadow: -86vmin 0 11.216064076566482vmin currentColor;
}
.background span:nth-child(13) {
  color: #8c8c8c;
  top: 57%;
  left: 93%;
  animation-duration: 111s;
  animation-delay: -45s;
  transform-origin: 17vw -23vh;
  box-shadow: 86vmin 0 11.314873726860544vmin currentColor;
}
.background span:nth-child(14) {
  color: #525252;
  top: 18%;
  left: 36%;
  animation-duration: 98s;
  animation-delay: -14s;
  transform-origin: 23vw -13vh;
  box-shadow: 86vmin 0 10.75499466483437vmin currentColor;
}
.background span:nth-child(15) {
  color: #525252;
  top: 1%;
  left: 7%;
  animation-duration: 136s;
  animation-delay: -33s;
  transform-origin: -5vw 22vh;
  box-shadow: 86vmin 0 11.487120892301455vmin currentColor;
}
.background span:nth-child(16) {
  color: #525252;
  top: 77%;
  left: 94%;
  animation-duration: 85s;
  animation-delay: -53s;
  transform-origin: -17vw -5vh;
  box-shadow: 86vmin 0 11.516054455237002vmin currentColor;
}
.background span:nth-child(17) {
  color: #dedede;
  top: 46%;
  left: 58%;
  animation-duration: 61s;
  animation-delay: -113s;
  transform-origin: -1vw 12vh;
  box-shadow: -86vmin 0 11.670734782937283vmin currentColor;
}
.background span:nth-child(18) {
  color: #dedede;
  top: 94%;
  left: 58%;
  animation-duration: 110s;
  animation-delay: -60s;
  transform-origin: -16vw -23vh;
  box-shadow: -86vmin 0 11.518610585886071vmin currentColor;
}
.background span:nth-child(19) {
  color: #8c8c8c;
  top: 75%;
  left: 94%;
  animation-duration: 19s;
  animation-delay: -39s;
  transform-origin: 25vw -20vh;
  box-shadow: -86vmin 0 10.858261938873621vmin currentColor;
}
.background span:nth-child(20) {
  color: #525252;
  top: 54%;
  left: 11%;
  animation-duration: 143s;
  animation-delay: -51s;
  transform-origin: 25vw 21vh;
  box-shadow: 86vmin 0 11.601512164537738vmin currentColor;
}
.background span:nth-child(21) {
  color: #dedede;
  top: 12%;
  left: 98%;
  animation-duration: 70s;
  animation-delay: -30s;
  transform-origin: 0vw 7vh;
  box-shadow: -86vmin 0 11.136437504818396vmin currentColor;
}
.background span:nth-child(22) {
  color: #dedede;
  top: 10%;
  left: 59%;
  animation-duration: 111s;
  animation-delay: -7s;
  transform-origin: 21vw 6vh;
  box-shadow: 86vmin 0 10.942963038656567vmin currentColor;
}
.background span:nth-child(23) {
  color: #8c8c8c;
  top: 45%;
  left: 23%;
  animation-duration: 127s;
  animation-delay: -124s;
  transform-origin: -22vw -18vh;
  box-shadow: 86vmin 0 11.033488196520512vmin currentColor;
}
.background span:nth-child(24) {
  color: #dedede;
  top: 82%;
  left: 7%;
  animation-duration: 111s;
  animation-delay: -57s;
  transform-origin: 15vw 17vh;
  box-shadow: -86vmin 0 11.614729256942512vmin currentColor;
}
.background span:nth-child(25) {
  color: #dedede;
  top: 86%;
  left: 78%;
  animation-duration: 58s;
  animation-delay: -74s;
  transform-origin: -20vw 13vh;
  box-shadow: 86vmin 0 11.655011690985912vmin currentColor;
}
.background span:nth-child(26) {
  color: #525252;
  top: 73%;
  left: 84%;
  animation-duration: 42s;
  animation-delay: -58s;
  transform-origin: -15vw 21vh;
  box-shadow: -86vmin 0 11.130706873570762vmin currentColor;
}
.background span:nth-child(27) {
  color: #8c8c8c;
  top: 68%;
  left: 23%;
  animation-duration: 18s;
  animation-delay: -69s;
  transform-origin: 5vw -8vh;
  box-shadow: -86vmin 0 11.399111795800698vmin currentColor;
}
.background span:nth-child(28) {
  color: #525252;
  top: 70%;
  left: 79%;
  animation-duration: 62s;
  animation-delay: -4s;
  transform-origin: 22vw -1vh;
  box-shadow: -86vmin 0 10.79169757018378vmin currentColor;
}
.background span:nth-child(29) {
  color: #525252;
  top: 63%;
  left: 37%;
  animation-duration: 26s;
  animation-delay: -24s;
  transform-origin: -10vw -5vh;
  box-shadow: 86vmin 0 11.24670533523679vmin currentColor;
}
.background span:nth-child(30) {
  color: #dedede;
  top: 96%;
  left: 19%;
  animation-duration: 11s;
  animation-delay: -148s;
  transform-origin: 1vw 17vh;
  box-shadow: -86vmin 0 11.306188088690105vmin currentColor;
}
.background span:nth-child(31) {
  color: #525252;
  top: 99%;
  left: 11%;
  animation-duration: 149s;
  animation-delay: -37s;
  transform-origin: -1vw 18vh;
  box-shadow: 86vmin 0 11.647279532644037vmin currentColor;
}
.background span:nth-child(32) {
  color: #525252;
  top: 40%;
  left: 83%;
  animation-duration: 82s;
  animation-delay: -31s;
  transform-origin: 19vw 23vh;
  box-shadow: 86vmin 0 11.586897014404276vmin currentColor;
}
.background span:nth-child(33) {
  color: #dedede;
  top: 57%;
  left: 39%;
  animation-duration: 108s;
  animation-delay: -99s;
  transform-origin: 11vw -24vh;
  box-shadow: 86vmin 0 11.002534623625191vmin currentColor;
}
.background span:nth-child(34) {
  color: #8c8c8c;
  top: 9%;
  left: 30%;
  animation-duration: 122s;
  animation-delay: -113s;
  transform-origin: -7vw -12vh;
  box-shadow: 86vmin 0 10.758890402178684vmin currentColor;
}
.background span:nth-child(35) {
  color: #8c8c8c;
  top: 35%;
  left: 70%;
  animation-duration: 115s;
  animation-delay: -53s;
  transform-origin: 11vw 8vh;
  box-shadow: 86vmin 0 11.603879069290596vmin currentColor;
}
.background span:nth-child(36) {
  color: #dedede;
  top: 97%;
  left: 76%;
  animation-duration: 98s;
  animation-delay: -134s;
  transform-origin: 1vw -1vh;
  box-shadow: -86vmin 0 11.549455665596764vmin currentColor;
}
.background span:nth-child(37) {
  color: #dedede;
  top: 84%;
  left: 77%;
  animation-duration: 41s;
  animation-delay: -113s;
  transform-origin: -10vw -11vh;
  box-shadow: 86vmin 0 10.795913817330053vmin currentColor;
}
.background span:nth-child(38) {
  color: #525252;
  top: 97%;
  left: 78%;
  animation-duration: 111s;
  animation-delay: -29s;
  transform-origin: 19vw 16vh;
  box-shadow: -86vmin 0 11.693151802217852vmin currentColor;
}
