@font-face {
  font-family: Centra;
  src: url("../src/assets/font/CentraNo2-Bold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: Centra;
  src: url("../src/assets/font/CentraNo2-Medium.ttf");
  font-weight: 600;
}

@font-face {
  font-family: Centra;
  src: url("../src/assets/font/CentraNo2-Book.ttf");
  font-weight: 500;
}

/* Default css*/

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  width:100%;
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: rgb(209, 206, 206) !important;
  color: #303030 !important;
  font-family: "Centra", sans-serif !important;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0.4rem;
  line-height: normal;
 }

img{
  height: 1rem;
  width: auto
}
p.success {
	color: green;
}

p.danger {
	color: red;
}

/* navbar*/

.nav-bar{
  font-size: 1.5rem;
  background-color:  rgb(209, 206, 206);
}

.social{
  margin: 0.5rem;
  list-style:none;
}

/* .social :hover{
  transition: all 1s;
  transform: scale(0.70);
} */

/* banner */

.mc{

  background-color: white;
  border-radius: 1rem;
  box-shadow: -8px 12px 20px 10px rgba(0, 0, 0, 0.2);
  height: 60vh;
  width: 50vw;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.bar{
  
  background-color: #e8e8e8;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding-bottom: 0.5rem;
}

#green{
  background-color: #00ce15;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
}

#red{
  background-color: #ff4f4d;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
}

#yellow{
  background-color: #ffbb00;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
}

/* skills */
#skills{
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.skill-box{
  width: 40vw;
}

.triangle {
  position: relative;
  background: #d1cece;
  /* background: #00ce15; */
  /* height: 50vh; */
}

.triangle::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 56px 56px 0 56px;
  border-color: #d1cece transparent transparent transparent;
  left: 83%;
  transform: translateX(-50%) translateY(100%);
}

/* projects */
#projects{
  background: #404040;
  /* background-image: url("./assets/img/bg.jpg"); */
  z-index: 1;
}

#projects h2{
  color: white;
}

.pr-box{
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 20rem;
  height: 26rem;
  margin: 1rem;
  border-radius: 1rem;
  box-shadow: -8px 12px 20px 10px rgb(104, 104, 104);

}

.pro-img img{
  object-fit: cover;
  max-height: 15rem;
  border-radius: 1rem;
  margin-bottom: 0.3rem;
  width: 17rem;
  height: 10rem;
}

.curved {
  position: relative;
  background: #404040;
  height: 10vh;
  border-bottom-left-radius: 50% 74%;
  border-bottom-right-radius: 50% 74%;
}

/* connect */
#connect{
}

.arrow{
  margin-left: 1.5rem;
}

.arrow :hover{
 cursor: grab; 
}

/* footer */

#footer{
  position:fixed;
  right: 5px;
  bottom: 0px;
  margin-right: 3rem;
}

#form-contact{
  margin-top: 2rem;
}

#form-contact textarea{
  width: 20rem;
  margin: 1rem;
}

/* Footer */




/***/

/* Bubble Float Bottom */
.hvr-bubble-float-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-bubble-float-bottom:before {
  position: absolute;
  z-index: -1;
  content: '';
  left: calc(50% - 10px);
  bottom: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #e1e1e1 transparent transparent transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-bubble-float-bottom:hover, .hvr-bubble-float-bottom:focus, .hvr-bubble-float-bottom:active {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}
.hvr-bubble-float-bottom:hover:before, .hvr-bubble-float-bottom:focus:before, .hvr-bubble-float-bottom:active:before {
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
}

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #2098D1;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

/* Buzz */
@-webkit-keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
@keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
.hvr-buzz {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-buzz:hover, .hvr-buzz:focus, .hvr-buzz:active {
  -webkit-animation-name: hvr-buzz;
  animation-name: hvr-buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}


/* Wobble Vertical */
@-webkit-keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.hvr-wobble-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-wobble-vertical:hover, .hvr-wobble-vertical:focus, .hvr-wobble-vertical:active {
  -webkit-animation-name: hvr-wobble-vertical;
  animation-name: hvr-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}


/* Grow Shadow */
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Shrink */
.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}


@media screen and (max-width:685px) {

  .mc{
    border-radius: 1rem;
    height: 60vh;
    width: 80vw;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }


  #skills{
    margin-top: 0.5rem;
    
  }
  .skill-box{
    width: 90vw;

  }


  #form-contact textarea{
    width: 10rem;
  }

  #footer{
    display: flex;
    flex-direction: column;
    margin-right: 0.07rem;
  }

  #footer ul{
    flex-direction: column;
  }

  .arrow{
    margin-left: 2.3rem;
  }
}